@import "../../styles-variables.scss";

.contact-card {
  max-width: 65%;
  min-height: 45%;
  height: auto;
  width: auto;
  background-color: white;
  color: black;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.help-card {
  @extend .contact-card;
  width: 45%
}

.title {
  font-size: x-large;
}

.header {
  display: flex;
  justify-content: center;
}

.label {
  color: black;
  font-size: medium;
}

.row {
  display: grid;
  margin-left: auto;
}

.submit {
  background-color: #e29587;
  color: white;
  width: 50%;
}

.table {
  margin-top: 5%;
}

table {
  width: 30%
}

.card-text {
  font-size: medium;
  padding: 4%;
}

