<mat-card class="contact-card">
  <mat-card-header class="header">
    <mat-card-title >
      Track an order
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">

      <div fxLayout="row" fxLayout.xs="column" >

        <div fxLayout="column" fxFlex="100%;" fxFlex.xs="80%" fxLayoutAlign="center center">
          <div>
            <mat-form-field appearance="standard" color="primary">
              <mat-label class="label">Email</mat-label>
              <input matInput type="text" class="label" formControlName="email" [(ngModel)]="email">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="standard" color="primary">
              <mat-label class="label">Order reference</mat-label>
              <input matInput type="text" class="label" formControlName="orderRef" [(ngModel)]="orderRef">
            </mat-form-field>
          </div>

        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="100%;" fxFlex.xs="100%" fxLayoutAlign="center center">
          <button mat-button class="submit" [disabled]="!form.valid" (click)="openDialog()">Submit</button>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
